.example-form {
    height: 100%;
    width: 100%;
}

.example-full-width {
    width: 80%;
}

.user-img {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 20px;
    top: 10px;
    border-radius: 100%;
    background-color: darkgrey;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.floating-button1 {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 20px;
    background-color: lightgreen;
    opacity: 0.5;
}

.floating-button2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 10;
    bottom: 20px;
    background-color: darkgreen;
    opacity: 0.5;
}

.floating-button1:hover {
    opacity: 1;
}

.floating-button2:hover {
    opacity: 1;
}

.floating-button3:hover {
    opacity: 1;
}

.floating-button3 {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 100px;
    bottom: 20px;
    background-color: coral;
    opacity: 0.5;
}

.header{
    position: absolute;
    top: 50%;
    left: 40%;
}