.a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.delete{
    float: right;
    background-color: tomato;
}

.cancel{
    float: left;
    background-color: darkgray;
}