<div class="top-bar-div">
    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="person" class="nav-bar-icon" mdTooltip="Profile"></md-icon>
            </ng-template>
            <a class="header">Welcome to MitraContact</a>
            
            <body class="addform">
                <addForm></addForm>
            </body>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="recent" class="nav-bar-icon" mdTooltip="Recent"></md-icon>
            </ng-template>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="layers" class="nav-bar-icon" mdTooltip="Filter"></md-icon>
            </ng-template>
            <h1>Coming SOON . . .</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="people" class="nav-bar-icon" mdTooltip="Group Contact"></md-icon>
            </ng-template>
            <h1>Coming SOON . . .</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="home" class="nav-bar-icon" mdTooltip="Home"></md-icon>
            </ng-template>
            <h1>Coming SOON . . .</h1>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon svgIcon="location" class="nav-bar-icon" mdTooltip="Location"></md-icon>
            </ng-template>
            <h1>Coming SOON . . .</h1>
        </md-tab>
    </md-tab-group>
</div>