.img-card {
    float: left;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.emp-name {
    font-weight: bold;
}

.emp-info {
    font-size: 14px;
}

.example-card {
    width: 340px;
}

.example-card:hover {
    background-color: gray;
}

.overlay {
    width: 100%;
    height: 70px;
    position: absolute;
    opacity: 0;
}

.selected {
    background-color: grey;
}