<div class="top-bar-div">
    <div class="left-search-menu">
        <button md-icon-button><md-icon svgIcon="search"></md-icon></button>
    </div>
    <md-input-container>
        <input mdInput placeholder="Search" type="text" (keyup)="onChange($event)">
    </md-input-container>
    <div class="search-chip" mdTooltip="Recent Contact">
        <md-chip-list>
            <md-chip>{{ contacts==null? 0:contacts.length}}</md-chip>
        </md-chip-list>
    </div>
    <div class="right-search-menu">

        <button md-icon-button (click)="sorting()" mdTooltip="Sorting"><md-icon svgIcon="sorting"></md-icon></button>

        <button md-icon-button mdTooltip="Filtering" (click)="filterEmployee()">
            <md-icon svgIcon="filtering"></md-icon></button>

    </div>
</div>